@import "../../variables.scss";

.search {
  input {
    height: 100%;
    width: 100px;
    vertical-align: top;
    //margin-right: $base-spacing * 2;
    font-size: 15px;
    // padding-left: $base-spacing;
    border: none;
    //border-bottom: $primary-border;
    //color: $primary-color;

    &:focus {
      outline: none;
      //border-color: $secondary-color;
      //color: $secondary-color;
    }
  }

  .fa {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      color: $hover-link-color;
    }
  }
}
