@import "../../variables.scss";

.search {
    input {
        height: 100%;
        width: 100px;
        vertical-align: top;
        font-size: 15px;
        border: none;
    }

    .fa {
        margin-right: 10px;
    }
}
