@font-face {
  font-family: "cat-font";
  src: url("./fonts/SleepyCatRegular-7BYKV.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");

* {
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #0057ff;
$secondary-color: #ffffff;

$title-font-family: "cat-font";
$title-font-size: 2em;

//nav bar
$nav-background-color: linear-gradient(
  to top,
  $secondary-color 1%,
  $primary-color 99%
);
$nav-height: 100px;
$nav-link-font-family: "Crimson Text", serif;
$nav-link-font-size: 12px;
$hover-link-color: rgb(224, 172, 73);

//card
$card-background-color: rgba(0, 87, 255, 0.1);
$card-font-color: black;
$card-heading-font-family: "Crimson Text", serif;
$card-paragraph-font-family: "Work Sans", sans-serif;
$card-padding: 10px;
$card-border: 5px solid black;
$card-border-radius: 10px;
