@import url("//db.onlinewebfonts.com/c/b1763f89102fde2cd1fdc592773be9f0?family=Cat+Font");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&display=swap");

* {
    box-sizing: border-box;
}

$primary-color: rgb(243, 164, 17);
$secondary-color: #ffffff;

//nav bar
$title-font-family: "Cat Font";
$title-font-size: 4em;
$title-font-color: black;
$nav-background-color: $primary-color;
$nav-height: 100px;
$nav-link-font-family: "Montserrat", sans-serif;
$nav-link-font-size: 1rem;
$hover-link-color: rgb(224, 172, 73);

//pages
$page-heading-font: "Montserrat", sans-serif;
$page-paragraph-font: "Merriweather", serif;

//card
$card-background-color: rgba(243, 164, 17, 0.5);
$card-font-color: black;
$card-heading-font-family: "Crimson Text", serif;
$card-paragraph-font-family: "Work Sans", sans-serif;
$card-padding: 10px;
$card-border: 5px solid black;
$card-border-radius: 10px;
